/* Brugerside CSS */

.main {
    display: flex;
    margin-top: 20dvh;     /* Så det starter under header */
    height: 80dvh;
}

/* Sidebar med unik baggrund */
.sidebar {
    width: 20vw;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Indholdsområde */
.content {
    width: 80vw;
    box-sizing: border-box;
    padding-left: 20px;
    display: flex;
    justify-content: flex-start;   /* START fra venstre */
    align-items: flex-start;       /* START fra toppen */
}

/* Wrapper til ønskelistebokse */
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    justify-content: flex-start;  /* Venstrejuster bokse */
    align-items: flex-start;      /* Topjuster bokse */
}

/* Ens størrelse på ønskelister */
.frostedBox.equalSize {
    width: 15vw;
    height: 15vw;
    min-width: 150px;
    min-height: 150px;
    max-width: 220px;
    max-height: 220px;

}

/* Create Wishlist-boksen i sidebar */
.createbox {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

/* Drop knap-styling, vi bruger style.css */
.createbox button {
    all: unset;
}

/* Fjern form spacing */
form {
    margin: 0;
}
.submitButton2{
    all:unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5c105c;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    z-index: 5;
}
