body{
    background-color: rgba(240,240,240,1);
}

.mainContent{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.formBox{
    width: 40vw;
    height: auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0,0,0,.2);
    padding: 20px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
}

.createUserForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30vw;
}

.inputField{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    font-family: "Avenir Next";
    justify-content: center;
    align-items: center;

}

label{
    color: gray;
}

.submitButton{
    all:unset;
    margin-top: 20px;
    display: flex;
    width: 100px;
    height: 30px;
    background-color: orange;
    border-radius: 25px;
    justify-content: center;
    font-family: "Avenir Next";
    font-weight: bolder;
    font-size: 15px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
    transition: .2s ease;
}

.submitButton:hover{
    color: white;
    background-color: #ffc45d;
    transition: .2s ease;
    transform: translate(0px, -3px);
}

.errorMessage{
    display: flex;
    width: 60%;
    height: 40px;
    background-color: rgba(255,0,0,.1);
    border-radius: 3px;
    color: rgba(100,0,0);
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Avenir Next";
}