<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brugerside</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/brugerside.css" th:href="@{/brugerside.css}">
</head>
<body>

<!-- Header  ligger for sig selv og styres i style.css -->
<div class="header">
    <form th:action="@{/getUserPage}" method="get">
    <button type="submit">Mine Lister</button></form>
    <p class="givmigLogo">Giv Mig</p>
    <form th:action="@{/logout}" method="get">
    <button>Log ud</button></form>
</div>

<!-- Hovedstruktur: sidebar + content -->
<div class="main">

    <!-- Sidebar -->
    <div class="sidebar frostedBox">
        <p style="font-size: 18px; font-weight: bold;" th:text="${currentUser.getUsername()}"></p>

        <p style="font-weight: bold" >Nyttige knapper</p>

        <!-- Knapperne -->
        <form th:action="@{/getDeleteUser}" method="post">
            <button type="submit" class="styledButton">Slet bruger</button>
        </form>
    </div>

    <!-- Content med ønskelister -->
    <div class="content">
        <div class="list">
            <div th:each="wishlist : ${wishListList}" class="frostedBox equalSize">
                <a th:href="@{/wishlist/{id}(id=${wishlist.id})}" class="boxText">
                    <div>
                        <p th:text="${wishlist.name}" class="boxTitle">Navn</p>
                    </div>
                    <div>
                        <p th:text="${wishlist.expirationDate}" class="boxDate">Dato</p>
                    </div>
                    <div>
                        <p th:text="${wishlist.description}" class="boxDescription">Beskrivelse</p>
                    </div>
                </a>

                <form th:action="@{/deleteWishlist}" method="post">
                    <input type="hidden" name="id" th:value="${wishlist.id}" />
                    <button type="submit" class="deleteButton">X</button>
                </form>

                <a th:href="@{/wishlist/{id}(id=${wishlist.id})}" class="styledButton openButton">Åben</a>

                <form th:action="@{/getEditWishlist}" method="get">
                    <input type="hidden" name="id" th:value="${wishlist.id}" />
                    <button type="submit" class="styledButton editButton">!</button>
                </form>
            </div>
            <div class="frostedBox equalSize createWishlistBox">
                <a th:href="@{/getCreateWishlist}" class="styledButton">
                    Opret ønskeliste
                </a>
            </div>

        </div>
    </div>

</div>

</body>
</html>
