<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Brugerside</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
    <link rel="stylesheet" href="../static/brugerside.css" th:href="@{/brugerside.css}">
</head>
<body>
<div class="list">
        <div th:each="wishlist : ${wishListList}" class="square">
            <a th:href="@{/wishlist/{id}(id=${wishlist.id})}">
                <div>
                    <label>Name:</label>
                    <span th:text="${wishlist.name}">Name</span>
                </div>
                <div>
                    <label>Date:</label>
                    <span th:text="${wishlist.expirationDate}">Date</span>
                </div>
                <div>
                    <label>Description:</label>
                    <span th:text="${wishlist.description}">Description</span>
                </div>
            </a>
        </div>
    </div>
</body>
</html>
