<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>createWishlist</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="pageContent">
    <div class="frostedBox loginBox">
        <form th:action="@{/saveCreateWishlist}" method="post" class="loginForm">
            <h1>Create Wishlist</h1>

                <input type="text" id="name" name="name" placeholder="Enter name of wishlist" required class="inputBox">
           <br>
                <input type="date" id="expirationDate" name="expirationDate" placeholder="Enter exipiration date" required class="inputBox">
           <br>
                <input type="text" id="description" name="description" placeholder="Enter description (optional)" class="inputBox">
           <br>
            <button type="submit" class="submitButton">Create Wishlist</button>
        </form>
    </div>
</div>








</body>
</html>