<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create wish</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="pageContent">
    <div class="frostedBox loginBox">

        <h1>Create Wish</h1>
        <form th:action="@{/saveCreateWish}" method="post" class="loginForm">
            <!-- Gemmer wishlistId som hidden input -->
            <input type="hidden" name="wishlistId" th:value="${wishlistId}" />

                <input type="text" id="name" name="name" placeholder="Enter name of product" required class="inputBox">
            <br>
                <input type="number" id="price" name="price" placeholder="Enter price (kr.)" required class="inputBox">
            <br>
                <input type="text" id="link" name="link" placeholder="Enter link" required class="inputBox">
            <br>
                <input type="text" id="description" name="description" placeholder="Enter description (optional)" class="inputBox">
            <br>
            <button type="submit" class="submitButton">Create Wish</button>
        </form>
    </div> <!-- frostedBox ends -->
</div> <!-- pageContent ends -->

</body>
</html>