<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Opret Ønske</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="header">
    <form th:action="@{/getUserPage}" method="get">
        <button type="submit">Mine Lister</button></form>
    <p class="givmigLogo">Giv Mig</p>
    <form th:action="@{/logout}" method="get">
        <button>Log ud</button></form>
</div>

<div class="pageContent">
    <div class="frostedBox loginBox">

        <h1>Opret Ønske</h1>
        <form th:action="@{/saveCreateWish}" method="post" class="loginForm">
            <!-- Gemmer wishlistId som hidden input -->
            <input type="hidden" name="wishlistId" th:value="${wishlistId}" />

                <input type="text" id="name" name="name" placeholder="Indtast navn på produktet" required class="inputBox">
            <br>
                <input type="number" id="price" name="price" placeholder="Indtast pris (kr.)" required class="inputBox">
            <br>
                <input type="text" id="link" name="link" placeholder="Indtast link" required class="inputBox">
            <br>
                <input type="text" id="description" name="description" placeholder="Indtast beskrivelse (valgfrit)" class="inputBox">
            <br>
            <button type="submit" class="submitButton">Opret ønske</button>
        </form>
    </div> <!-- frostedBox ends -->
</div> <!-- pageContent ends -->

</body>
</html>