<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret Ønskeliste</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="header">
    <form th:action="@{/getUserPage}" method="get">
        <button type="submit">Mine Lister</button></form>
    <p class="givmigLogo">Giv Mig</p>
    <form th:action="@{/logout}" method="get">
        <button>Log ud</button></form>
</div>

<div class="pageContent">
    <div class="frostedBox loginBox">
        <a th:href="@{/getUserPage}" class="styledButton backButton">
            tilbage
        </a>

        <form th:action="@{/saveCreateWishlist}" method="post" class="loginForm">
            <h1>Opret Ønskeliste</h1>

                <input type="text" id="name" name="name" placeholder="Indtast listens titel" required class="inputBox">
           <br>
                <input type="date" id="expirationDate" name="expirationDate" placeholder="Indtast udløbsdato" required class="inputBox">
           <br>
                <input type="text" id="description" name="description" placeholder="Indtast beskrivelse (Valgfrit)" class="inputBox">
           <br>
            <button type="submit" class="styledButton">OPRET ØNSKELISTE</button>
        </form>
    </div>
</div>








</body>
</html>