<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create User</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">
</head>
<body>
    <div class="pageContent">
        <div class="frostedBox loginBox">

            <a th:href="@{/}" class="styledButton backButton">
                tilbage
            </a>

            <h1>Indtast venligst dine brugeroplysninger</h1>

            <h2 th:if="${errorMessage}" th:text="${errorMessage}" class="errorMessage"></h2>

            <form th:action="@{/saveCreateUser}" method="post" class="loginForm">

                <input type="text" id="userName" name="userName" placeholder="Enter your username" required class="inputBox">
                <br>
                <input type="text" id="firstName" name="firstName" placeholder="Enter your first name" required class="inputBox">
                <br>
                <input type="text" id="lastName" name="lastName" placeholder="Enter your last name" required class="inputBox">
                <br>
                <input type="text" id="passWord" name="passWord" placeholder="Enter the password you want" required class="inputBox">
                <br>
                <input type="text" id="passWordControl" name="passWordControl" placeholder="Re-enter your password" required class="inputBox">
                <br>

                <button type="submit" class="styledButton">submit</button>
            </form>
        </div> <!-- frostedBox ends -->
    </div> <!-- pageContent ends -->
</body>
</html>