<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>

<h2 th:if="${userCreatedMessage}" th:text="${userCreatedMessage}"></h2>
<form>
    <label for="username">Username:</label>
    <input type="text" id="username">
    <label for="password">Password:</label>
    <input type="password" id="password">
    <input type="submit" id="submit" value="Login">

</form>

<! Button for create User>
<a th:href="@{/getCreateUser}" class="createUserButton">Create a new user</a>
</body>
</html>