<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
        <meta charset="UTF-8">
        <title>Log Ind</title>
    </head>
    <body>

        <h2 th:if="${userCreatedMessage}" th:text="${userCreatedMessage}"></h2>


        <div class="pageContent">
            <div class="frostedBox loginBox">
                <!-- this form is send from "/" -->
                <div class="logoBox">
                    <h1>GivMig.dk</h1>
                </div>

                <div class="errorBox" th:if="${errorMessage}">
                    <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
                </div>

                <div class="userMessage" th:if="${userCreatedMessage}">
                    <p th:if="${userCreatedMessage}" th:text="${userCreatedMessage}"></p>
                </div>

            <form action="/tryLoginUser" method="post" class="loginForm">
                    <input type="text" id="username" name="username" placeholder="Indtast dit brugernavn" class="inputBox">
                <br>
                    <input type="password" id="password" name="password" placeholder="Indtast dit password" class="inputBox">
                <br>
                <button type="submit" class="styledButton">Log ind</button>
                    <!-- thymeleaf if condition - rooted in the LoginController -->
                    <div th:if="${loginMessage}">
                    <p th:text="${loginMessage}"></p>
                    </div>
                    <div th:if="${loginError}">
                    <p th:text="${loginError}"></p>
                    </div>
            </form>
                <br>
                <!-- Button for create User -->
                <a th:href="@{/getCreateUser}" class="styledButton">Opret en ny bruger</a>
            </div> <!-- loginDiv ends -->
        </div>

    </body>
</html>