<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="stylesheet" th:href="@{index.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2 th:if="${userCreatedMessage}" th:text="${userCreatedMessage}"></h2>
<div class="loginDiv">
    <!-- this form is send from "/" -->
<form action="/tryLoginUser" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <button type="submit">Login</button>
    <!-- thymeleaf if condition - rooted in the LoginController -->
    <div th:if="${loginMessage}">
    <p th:text="${loginMessage}"></p>
    </div>
    <div th:if="${loginError}">
    <p th:text="${loginError}"></p>
    </div>
</form>
</div> <!-- loginDiv ends -->

<!-- Button for create User -->
<a th:href="@{/getCreateUser}" class="createUserButton">Create a new user</a>

<a th:href="@{/getCurrentUser}" class="createUserButton">See the current user</a>
</body>
</html>