<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{styleDemo.css}" href="../static/styleDemo.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header>
    <p>Header 1</p>
    <p>Header 2</p>
    <p>Header 3</p>
</header>

<div class="wholeScreen">

    <div class="wishList">
<h1>Wishlist 1</h1>
    <p>Wish 1</p>
    <p>Wish 2</p>
    <p>Wish 3</p>
    <button>Rediger</button>
</div> <!-- div wishList ends -->

    <div class="wishList">
<h1>Wishlist 2</h1>
    <p>Wish 1</p>
    <p>Wish 2</p>
    <p>Wish 3</p>
    <button>Rediger</button>
</div> <!-- div wishList ends -->

    <div class="wishList">
<h1>Wishlist 3</h1>
    <p>Wish 1</p>
    <p>Wish 2</p>
    <p>Wish 3</p>
    <button>Rediger</button>
</div> <!-- div wishList ends -->

    <br>

    <button id="accept">#accept</button>
    <button id="deny">#deny</button>

</div> <!-- div wholeScreen ends -->

</body>
</html>