<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rediger Ønske</title>
  <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
</head>
<body>
<div class="header">
  <form th:action="@{/getUserPage}" method="get">
    <button type="submit">Mine Lister</button></form>
  <form th:action="@{/getUserPage}" method="get">
    <button>GivMig</button></form>
  <form th:action="@{/logout}" method="get">
    <button>Log ud</button></form>
</div>

<div class="pageContent">
  <div class="frostedBox loginBox">

    <h1>Edit Wish</h1>
    <form th:action="@{/saveUpdateWish}" method="post" class="loginForm">
      <!-- Gemmer wishlistId som hidden input -->
      <input type="hidden" name="wishlistId" th:value="${wishlistId}"/>
      <input type="hidden" name="id" th:value="${wish.wishId}"/>

        <input type="text" id="name" name="name" th:value="${wish.name}" required class="inputBox">
      <br>
        <input type="number" id="price" name="price" th:value="${wish.price}" required class="inputBox">
      <br>
        <input type="text" id="link" name="link" th:value="${wish.link}" required class="inputBox">
      <br>
        <input type="text" id="description" name="description" th:value="${wish.description}" class="inputBox">
     <br>
      <button type="submit" class="submitButton">Save changes</button>
    </form>
  </div>
</div>

</body>
</html>