<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" th:href="@{style.css}" href="../static/style.css">
    <link rel="stylesheet" th:href="@{brugerside.css}" href="../static/brugerside.css">
</head>
<body>

<div class="mainContent">
<div class="square" th:each="wish : ${wishList}">
    <img th:src="@{'/img/' + ${wish.image}}" alt="Wish Image">
    <div>
        <label>ID</label>
        <span th:text="${wish.wishId}">ID</span>
    </div>
    <div>
        <label>Product name</label>
        <span th:text="${wish.name}">Product name</span>
    </div>
    <div>
        <label>Price</label>
        <span th:text="${wish.price}">Price</span>
    </div>
    <div>
        <label>Link</label>
        <span th:text="${wish.link}">Link</span>
    </div>
    <div>
        <label>Description</label>
        <span th:text="${wish.description}">description</span>
    </div>

    <div class="userControls" th:if="${isOwner}">
        <a th:href="@{/getUpdateWish(id=${wish.wishId})}">Edit Wish</a>
        <form th:action="@{/deleteWish}" method="post">
            <input type="hidden" name="wishlistId" th:value="${wishlistId}" />
            <input type="hidden" name="id" th:value="${wish.wishId}" />
            <button type="submit">Delete Wish</button>
        </form>
    </div>

    <div class="reservationInfo" th:unless="${hideReservedStatus}">
        <div class="reserveButton" th:if="${wish.isReserved()}">
            <form th:action="@{'/reserveOrUnreserveWish/' + ${wishlistId} + 'gift' + ${wish.wishId}}" method="post">
                <button type="submit">Unreserve</button>
            </form>
        </div>
        <div class="unReserveButton" th:unless="${wish.isReserved()}">
            <form th:action="@{'/reserveOrUnreserveWish/' + ${wishlistId} + 'gift' + ${wish.wishId}}" method="post">
                <button type="submit">Reserve</button>
            </form>
        </div>
    </div>
</div>
    <div class="buttons">
        <a th:href="@{/createWishOnWishlist(id=${wishlistId})}">Add Wish</a>

    </div>
</div>
</body>
</html>