<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ønskeliste</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../static/style.css">

</head>
<body>
<!-- Header ligger for sig selv og styres i style.css -->
<div class="header">
    <form th:action="@{/getUserPage}" method="get">
        <button type="submit">Mine Lister</button></form>
    <form th:action="@{/getUserPage}" method="get">
        <button>GivMig</button></form>
    <form th:action="@{/logout}" method="get">
        <button>Log ud</button></form>
</div>

<div class="pageContent">
<div class="frostedBox" th:each="wish : ${wishList}">
    <img th:src="@{'/img/' + ${wish.image}}" alt="Wish Image">
    <div>
        <label>Produkt navn</label>
        <span th:text="${wish.name}">Produkt navn</span>
    </div>
    <div>
        <label>Pris</label>
        <span th:text="${wish.price}">Pris</span>
    </div>
    <div>
        <label>Link</label>
        <span th:text="${wish.link}">Link</span>
    </div>
    <div>
        <label>Beskrivelse</label>
        <span th:text="${wish.description}">Beskrivelse</span>
    </div>

    <div class="userControls" th:if="${isOwner}">
        <a th:href="@{/getUpdateWish(id=${wish.wishId})}">Edit Wish</a>
        <form th:action="@{/deleteWish}" method="post">
            <input type="hidden" name="wishlistId" th:value="${wishlistId}" />
            <input type="hidden" name="id" th:value="${wish.wishId}" />
            <button type="submit">Delete Wish</button>
        </form>
    </div>

    <div class="reservationInfo" th:unless="${hideReservedStatus}">
        <div class="reserveButton" th:if="${wish.isReserved()}">
            <form th:action="@{'/reserveOrUnreserveWish/' + ${wishlistId} + 'gift' + ${wish.wishId}}" method="post">
                <button type="submit">Unreserve</button>
            </form>
        </div>
        <div class="unReserveButton" th:unless="${wish.isReserved()}">
            <form th:action="@{'/reserveOrUnreserveWish/' + ${wishlistId} + 'gift' + ${wish.wishId}}" method="post">
                <button type="submit">Reserve</button>
            </form>
        </div>
    </div>
</div>
    <div class="buttons">
        <a th:href="@{/createWishOnWishlist(id=${wishlistId})}">Tilføj Ønske</a>

    </div>
</div>
</body>
</html>